
@charset "utf-8"



$primary: #00d1b2
$primary-invert: #ffffff
$blue: #111344
$white: #FFF
$black: #000
$fontTitle: "MonoramaRegular"
$fontTitleBold: "MonoramaBold"
$fontCorps: "Poppins"
$indexMax: 9999999999
$indexMidl: 99999999
$footer-background-color: $blue
$navbar-background-color: transparent
$fontShadowWhite : $white 1px 1px, $white -1px 1px, $white -1px -1px, $white 1px -1px
$fontShadowBlue : $blue 1px 1px, $blue -1px 1px, $blue -1px -1px, $blue 1px -1px

$calendar-days-background-color: $blue
$calendar-date-hover-border:  .1rem solid $blue 
$calendar-today-color: $blue


  
// Import Bulma core
@import '~bulma'

// Import Bulma Extensions
@import "~bulma-calendar/dist/css/bulma-calendar"
 
 
.bulma-datepicker
  *
    font-family: $fontCorps
  .datepicker-nav
    font-family: $fontTitle
    background-color: $blue
    color: $white
  .datepicker-body
    .datepicker-dates
      .datepicker-days
        .datepicker-date
          .date-item
            .is-active
              background-color: $blue  
              color: red
  .bulma-datepicker-selection-day
    color: red

.footer
  * 
    color: $white

.title
  font-weight: normal

.arrowTop
  font-family: $fontTitle
  position: fixed


.headerHome
  position: relative
  min-height: 80vh
  background-position: top
  background-repeat: no-repeat
  background-size: cover 

#blocResa
  display: flex
  flex: 1 1 auto
  text-align: center
  width: 700px
  margin-left: auto
  margin-right: auto
  position: absolute
  color:#fff
  top: 50%
  left: 50%
  -ms-transform: translateX(-50%) translateY(-50%)
  -webkit-transform: translate(-50%,-50%)
  transform: translate(-50%,-50%)
  .blocResaDiv
    display: flex
    justify-content: center
    flex-grow: 1
    margin: 0
    padding: 0
    background-color: $black
    color: $white
    padding-top: 18px
    padding-bottom: 18px
    font-family: $fontTitle
    margin-left: 1px
    .blocResaArrow
        transform: rotate(45deg)

.titleTbh    
  padding-top: 18px
  padding-bottom: 18px
  border-top: 1px solid $blue
  border-bottom: 1px solid $blue
  text-align: center
  font-family: $fontTitle
  font-size: 4.2rem  
  .titleTbhEmpty
    text-shadow: $fontShadowBlue
    color: $white
  .titleTbhFull
    color: $blue

#nousTrouver
  font-family: $fontTitle
  color: $blue

#instagram 
  border-top: 1px solid $blue
  border-bottom: 1px solid $blue
  .column 
    border-left: 1px solid $blue
    &:last-of-type
      border-right: 1px solid $blue

//NAV

#navHeader 
  display: flex
  flex-direction: row 
  justify-content: space-between
  z-index: $indexMidl
  width: 100%
  position: absolute
  align-items: center
  margin-top: 20px
  div
    padding: 0
    flex-grow: 1
    width: 20%
  #test
    flex-grow: 2
  #navHeaderRight 
    text-align: right
    a 
     font-family: $fontTitle
     color: $blue
      

.nav-on 
  top: 0vh
  opacity: 1
.nav-off
  top: 100vh
  opacity: 0

#navButton
  cursor: pointer
  div
    width: 26px
    height: 3px
    background-color: $black
    margin: 4px 0
    border-radius: 5px

#nav_norm 
  transition: all .5s ease;
  height: 100vh
  width: 100vw
  position: fixed
  background-color: $blue
  z-index: $indexMax
  font-family: Poppins
  padding-top: 40px
  padding-bottom: 40px
  #navMain 
    display: flex
    justify-content: space-between
    height: 100%
    .navTel
      font-family: $fontCorps
      font-weight: normal
    .navMail
      font-family: $fontCorps
      font-weight: 500
    #contentNavNormTopRight
      text-align: right
      * 
        font-family: $fontTitle
    #contentNavNormMiddleRight
      div   
       transform: rotate(45deg) translateX(180px)
       font-family: $fontTitle
       font-weight: 200
       cursor: pointer
    .column-nav-left, 
    .column-nav-right
      display: flex
      flex-direction: column
      justify-content: space-between
  *
    color: $white
    font-family: $fontCorps
  ul
    li 
      margin-bottom: 5px
      
    a 
      font-family: $fontTitle
      &:hover 
        color: $blue
        text-shadow: $fontShadowWhite


  
.footer
  ul 
    padding: 0
    margin: 0
    list-style-type: none
    li 
      text-transform: uppercase
      font-family: $fontCorps


.margin-top-0
  margin-top: 0 !important
