
@charset "utf-8"



$primary: #00d1b2
$primary-invert: #ffffff
$blue: #111344
$white: #FFF
$black: #000
$fontTitle: "MonoramaRegular"
$fontTitleBold: "MonoramaBold"
$fontTitleSemiBold: "MonoramaSemiBold"
$fontCorps: "Poppins"
$indexMax: 9999999999
$indexMidl: 99999999
$footer-background-color: $blue
$navbar-background-color: transparent
$fontShadowWhite : $white 1px 1px, $white -1px 1px, $white -1px -1px, $white 1px -1px
$fontShadowBlue : $blue 1px 1px, $blue -1px 1px, $blue -1px -1px, $blue 1px -1px

$calendar-days-background-color: $blue
$calendar-date-hover-border:  .1rem solid $blue 
$calendar-today-color: $blue


$column-gap: 3rem


  
// Import Bulma core
@import '~bulma'



// Import Bulma Extensions 

* 
  color: $blue


 
.is-paddinglessTB
  padding-top: 0
  padding-bottom: 0
  
.hero.is-primary 
  .subtitle
    color: $blue
  .title
    color: $blue

.semiBold
  font-weight: 600
.marquee3k
  font-size: 14px
  font-family: $fontTitle
  color: $blue
  line-height: 14px
  padding-bottom: 3px
  z-index: 9999999
  position: relative
  background: #FFF
    
.center-v
  display: flex
  align-items: center
  
.bulma-datepicker
  *
    font-family: $fontCorps
  .datepicker-nav
    font-family: $fontTitle
    background-color: $blue
    color: $white
  .datepicker-body
    .datepicker-dates
      .datepicker-days
        .datepicker-date
          .date-item
            .is-active
              background-color: $blue  
              color: red
  .bulma-datepicker-selection-day
    color: red

.pigeon-attribution
  display: none


.button:hover
  background-color: $blue
  color: $white  
  border: 1px solid $blue

.carouselAll
  button
    border: 0
    font-family: $fontTitle
    background-color: $white
    cursor: pointer
    font-size: 1.5rem
    color: rgba( $blue, .4 )
  .carouselActive
    color: $blue

.carouselNumber
  font-family: $fontTitle
  text-shadow: $fontShadowBlue
  color: $white
  font-size: 7rem

.chambreNum
  font-family: $fontTitle
  text-align: center
  text-shadow: $white 1px 1px, $white -1px 1px, $white -1px -1px, $white 1px -1px
  font-size: 7rem
  -webkit-text-fill-color: transparent
  -webkit-background-clip: text
  
  
.footer
  * 
    color: $white

.title
  font-weight: normal
  color: $blue

.arrow-r
  font-family: $fontTitle
  display: inline-block
  transform: rotate(-45deg)
.arrow-l
  font-family: $fontTitle
  display: inline-block
  transform: rotate(45deg)
  
.button
  border: 1px solid $black
  border-radius: 0
  font-family: $fontTitle
  color: $black

.boldTitle
  font-family: $fontTitleBold

p 
  color: $blue
  font-family: Poppins

.subtitle
  font-family: $fontTitle
  color: $blue

.is-borderHome
  border-top: 1px solid $blue
#notes
  .noteCount
    font-family: $fontTitle
  .column
    border-right: 1px solid $blue


.arrowTop
  font-family: $fontTitle
  position: fixed

.imgContent
  position: relative
  height: 80vh
  min-height: 720px
  width: 100%
  background-position: top
  background-repeat: no-repeat
  background-size: cover 

.headerHome
  position: relative
  height: calc(100vh - 117px)
  background-position: top
  background-repeat: no-repeat
  background-size: cover 

#blocResa
  display: flex
  flex: 1 1 auto
  text-align: center
  width: 700px
  position: absolute
  color:#fff
  top: 50%
  left: calc(50% - 350px)
  .blocResaDiv
    cursor: pointer
    display: flex
    justify-content: center
    flex-grow: 1
    margin: 0
    padding: 0
    background-color: $black
    color: $white
    padding-top: 13px
    padding-bottom: 13px
    font-family: $fontTitle
    margin-left: 1px
    &:hover
       background-color: $white
       color: $black
    .blocResaArrow
        transform: rotate(45deg)
    *
      color: $white

.blocWithArrow
  cursor: pointer
  display: flex
  flex-grow: 1
  margin: 0
  padding: 0
  font-family: $fontTitle
  .arrowText
    transform: rotate(45deg)
  
.is-vcenter
  display: flex
  align-items: center

.petitPlus
  font-family: $fontTitle
  color: $blue
  .petitPlusBorder
    border-bottom: 1px solid $blue

.titleTbh    
  height: 100px
  border-top: 1px solid $blue
  border-bottom: 1px solid $blue
  text-align: center
  font-family: $fontTitle
  font-size: 4.2rem  
  .titleTbhEmpty
    text-shadow: $fontShadowBlue
    color: $white
  .titleTbhFull
    color: $blue

#nousTrouver
  font-family: $fontTitle
  color: $blue

#instagram 
  border-top: 1px solid $blue
  border-bottom: 1px solid $blue
  .column 
    border-left: 1px solid $blue
    &:last-of-type
      border-right: 1px solid $blue

//NAV

#navHeader 
  display: flex
  flex-direction: row 
  justify-content: space-between
  z-index: $indexMidl
  width: 100%
  position: absolute
  align-items: center
  margin-top: 45px
  div
    padding: 0
    flex-grow: 1
    width: 20%
  #test
    flex-grow: 2
  #navHeaderRight 
    text-align: right
    a 
     font-family: $fontTitle
     color: $blue
     
.nav-on 
  top: 0vh
  right: 0
.nav-off
  top: 0vh
  right: -100vw

#navButton
  cursor: pointer
  div
    width: 26px
    height: 3px
    background-color: $black
    margin: 4px 0
    border-radius: 5px

#nav_norm 
  transition: all .5s ease;
  height: 100vh
  width: 100vw
  position: fixed
  background-color: $blue
  z-index: $indexMax
  font-family: Poppins
  padding-top: 40px
  padding-bottom: 40px
  #navMain 
    display: flex
    justify-content: space-between
    height: 100%
    .navTel
      font-family: $fontCorps
      font-weight: normal
    .navMail
      font-family: $fontCorps
      font-weight: 500
    #contentNavNormTopRight
      text-align: right
      * 
        font-family: $fontTitle
    #contentNavNormMiddleRight
      div   
       transform: rotate(45deg) translateX(180px)
       font-family: $fontTitle
       font-weight: 200
       cursor: pointer
    .column-nav-left, 
    .column-nav-right
      display: flex
      flex-direction: column
      justify-content: space-between
  *
    color: $white
    font-family: $fontCorps
  ul
    li 
      margin-bottom: 5px
      
    a 
      font-family: $fontTitle
      &:hover 
        color: $blue
        text-shadow: $fontShadowWhite
    .navFocus
      color: $blue
      text-shadow: $fontShadowWhite


      
  
.footer
  ul 
    padding: 0
    margin: 0
    list-style-type: none
    li 
      text-transform: uppercase
      font-family: $fontCorps


.margin-top-0
  margin-top: 0 !important
